
DATABASE_URL="postgresql://neondb_owner:npg_o8FrhkvtG2Pg@ep-divine-wildflower-ahg1q6cz-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

## Better Auth
BETTER_AUTH_SECRET="BW57WqoZPJm61zCJmZctTFvqRQhnVrd5"
BETTER_AUTH_URL="http://localhost:3000" # Base URL of your app

## Google Generative Api Key
GOOGLE_GENERATIVE_AI_API_KEY="AIzaSyC1A6GQ2Kk4JuO3g7UF_gaU3RDVS9Oq_k0"

## sentry config

SENTRY_AUTH_TOKEN="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"

## Polar access token

POLAR_ACCESS_TOKEN="polar_oat_VTKg7q8pu1U8qe329g3JTB9m1j5Qzyd1lmUWy2sHWxK"
POLAR_SUCCESS_URL="http://localhost:3000"